@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap');

/* DEFAULT SETTINGS */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a {
  color: white;
  cursor: pointer;
}

main {
  width: 100vw;
}

/* OVERAL FONT SETTINGS*/

h4, h3, h2, h1 {
  color: #FFF;
}

h2 {
  background-color: rgb(79, 134, 216);
  padding: 3px 10px;
  display: inline-block;
  margin: 0 0 25px 0;
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 38px;
}

h4 {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 23px;
  margin: 10px 0;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  line-height: 1.5;
}


/* HEADER */

.parallax {
  height: 600px;
  background-image: url(./img/background.jpg);
  background-size: cover;
  background-position: top left;
  padding: 10px 10px 0 10px;
}

.header-container{
  max-width: 1088px;
  margin: 0 auto;
  height: 100%;
}

header h1 {
  font-family: 'Montserrat', sans-serif;
  text-transform: lowercase;
  font-size: 82px;
  font-weight: bold;
}

header h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 100;
}

header h3 span{
 font-weight: 400;
}

.header-icon-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.header-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-container h1 {
  width: 35%;
}

.icon-container {
  display: flex;
  height: 75px;
  margin: 100px 15px 0 0;
}

.icon-container img {
  width: 70px;
  height: 70px;
  padding: 15px;
}

.icon-container a{
  border: 3px solid #FFF;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 5px;
}

.profile-img-container{
  display: flex;
  justify-content: flex-end;
}

.profile-img {
  position: absolute;
  width: 280px;
  top: 370px;
}

.profile-img-container img {
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
}


/* DESCRIPTION */

.description{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F4F4F4;
  height: 500px;
  text-align: justify;
}

.description p{
  width: 1088px;
}

.line-sep-dot {
  height: 4px;
  width: 50px;
  background-color: rgb(79, 134, 216);
  position: relative;
  float: left;
  top: 17px;
  margin-right: 10px;
}
.line-sep-dot::after {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(79, 134, 216);
  content: "";
  float: right;
  top: -3px;
  position: relative;
}

/* TECH */

.tech{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.tech p{
  width: 1088px;
  text-align: center;
}

/* FEATURED PROJECTS */

.projects-container{
  background-color: #F4F4F4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured-projects{
  width: 1088px;
}

/* F0R MORE */

.for-more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.for-more p{
  color: rgb(79, 134, 216);
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 23px;
  text-align: center;
}

.for-more-icons {
  width: 1088px;
  display: flex;
  justify-content: space-evenly;
}

.for-more-icons a{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.for-more-icon {
  border: 3px solid rgb(79, 134, 216);
  border-radius: 50%;
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.for-more-icon img {
  width: 60px;
  height: 60px;
}





/* FOOTER */
footer {
  background-color: rgb(79, 134, 216);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  height: 500px;
  color: white;
}

footer h4 {
  text-transform: none;
  font-size: 20px;
}

footer img{
  margin-top: 60px;
}

