/* DEFAULT SETTINGS */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a {
  color: white;
}

/* HEADINGS */

h4, h3, h2, h1 {
  color: #FFF;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  text-transform: lowercase;
  font-size: 70px;
  margin: 5px 0;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(79, 134, 216);
  padding: 3px 10px;
  display: inline-block;
  margin: 0 0 25px 0;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  text-transform: lowercase;
  font-weight: 700;
  font-size: 30px;
}

h4 {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 23px;
  margin: 10px 0;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  line-height: 1.5;
}


/* HEADER */

.parallax {
  height: 500px;
  background-image: url(./img/background1.jpg);
  background-size: cover;
  background-position: top left;
  padding: 10px 10px 0 10px;
}

.header-icons-box {
  padding: 30px 10px;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 70px;
  right: 10%;
}
.header-icon-container a{
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #FFF;
  border-radius: 50%;
  cursor: pointer;
}

.header-icon-container img {
  width: 14px;
}

.header-text-box {
  width: 35%;
  position: absolute;
  top: 170px;
  left: 10%;
}

header a {
  margin-left: 5px;
}


header h4 {
  letter-spacing: 1.2px;
  font-size: 24px;
  font-weight: 300;
  margin: 5px 0;
}

header h3 {
  margin: 10px 0;
}

.text-box span {
  font-weight: 700;
}

.profile-img-container {
  right: 10%;
  position: absolute;
  margin: 0;
  width: 280px;
  top: 250px;
}

.profile-img-container img {
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
}




/* FOOTER */
footer {
  background-color: rgb(79, 134, 216);
  text-align: center;
  padding: 30px 0;
  height: 10%;
}

footer h3 {
  text-transform: uppercase;
  font-size: 26px;
}

footer h4 {
  text-transform: none;
  font-size: 20px;
}

footer img{
  margin-top: 60px;
}

