@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

/* DEFAULT SETTINGS */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a {
  color: white;
}

main {
  width: 100vw;
}

/* OVERAL FONT SETTINGS*/

h4, h3, h2, h1 {
  color: #FFF;
}

h2 {
  background-color: rgb(79, 134, 216);
  padding: 3px 10px;
  display: inline-block;
  margin: 0 0 25px 0;
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 38px;
}

h4 {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 23px;
  margin: 10px 0;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  line-height: 1.5;
}


/* HEADER */

.parallax {
  height: 600px;
  background-image: url(./img/background.jpg);
  background-size: cover;
  background-position: top left;
  padding: 10px 10px 0 10px;
}

.header-container{
  max-width: 1088px;
  margin: 0 auto;
  height: 100%;
}

header h1 {
  font-family: 'Montserrat', sans-serif;
  text-transform: lowercase;
  font-size: 82px;
  font-weight: bold;
}

header h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 400;
}

header h3 span{
 font-weight: bold;
}

.header-icon-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.header-icon-container img {
  width: 70px;
  height: 70px;
  padding: 15px;
}

.header-icon-container a{
  border: 3px solid #FFF;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 10px;
}

.text-box-container h1 {
  width: 35%;
}

.profile-img-container{
  display: flex;
  justify-content: flex-end;
}

.profile-img {
  position: absolute;
  width: 280px;
  top: 370px;
}

.profile-img-container img {
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
}


/* DESCRIPTION */

.description{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F4F4F4;
  height: 300px;
}

.description p{
  width: 1088px;
}

.line-sep-dot {
  height: 3px;
  width: 50px;
  background-color: rgb(79, 134, 216);
  position: relative;
  float: left;
  top: 12px;
  margin-right: 10px;
}
.line-sep-dot::after {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: rgb(79, 134, 216);
  content: "";
  float: right;
  top: -4px;
  position: relative;
}


/* FOOTER */
footer {
  background-color: rgb(79, 134, 216);
  text-align: center;
  padding: 30px 0;
  height: 10%;
}

footer h4 {
  text-transform: none;
  font-size: 20px;
}

footer img{
  margin-top: 60px;
}

